.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-family: "Secular One", sans-serif;
  }
  ol {
    padding: 0px;
    counter-reset: section;
    list-style-type: none;
    li {
      font-family: "Secular One", sans-serif;
    }
    li::before {
      counter-increment: section;
      content: counters(section, "") ". ";
    }
  }
  button {
    margin: 0.67em 0;
    padding: 0.5rem 1rem;
  }
  .sign-image {
    width: 3%;
  }
  .profile-page-li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .profile-page-text {
    margin: 0rem 1rem 0rem 0.5rem;
  }
}
