.sign-img {
  width: 60px;
}

.translation-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  .input-translation {
    border-radius: 25px;
    border: 3px solid black;
    margin-right: 0.5rem;
    padding: 0.5rem;
  }
  .translate-button {
    padding: 0.5rem;
  }
  h1 {
    font-family: "Secular One", sans-serif;
    letter-spacing: 2px;
  }
  .translate-output {
    display: flex;
    flex-direction: column;
    align-items: center;
    .translate-output-images {
      display: flex;
      justify-content: center;
      margin: 1rem 10rem;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }
}
