.navbar {
  padding: 1rem 0rem 1rem 0rem;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.navbar-link {
  text-decoration: none;
}

.navbar-title {
  margin-left: 2rem;
}

.navbar-profile-link {
  display: flex;
  text-decoration: none;
  border: 3px solid black;
  border-radius: 25px;
  margin-right: 1rem;
  align-items: center;
  flex-direction: row;
  background-color: #e8e8e8;
}
.bi {
  margin-right: 0.5rem;
  color: black;
}

button {
  padding: 0px 20px;
  font-family: "Secular One", sans-serif;
  border-radius: 25px;
  border: 3px solid black;
  &:hover {
    cursor: pointer;
  }
  background-color: #e8e8e8;
}
.navbar-profile {
  padding: 0px 1rem 0px 1rem;
  margin-right: 2rem;
  display: flex;
  align-items: center;
  .navbar-profile-container {
    display: flex;
  }
  .navbar-h5 {
    display: flex;
    align-items: center;
    margin: 0 0.5rem;
  }
}

h5 {
  margin: 0px;
  font-family: "Secular One", sans-serif;
  color: black;
}

a {
  padding: 10px;
}
